body
	div.container
		div.background-cover
		div.grid
			div.unit.one-of-five 
			//intentionally empty as spacer
			header.unit.four-of-five
				h1.fullname xhouse
				hr.blocky-hr
				h2.byline An experimental living experience

			div.unit.four-of-five#main-body
				div.unit.one-of-four.left
					
				div.unit.three-of-four
					h2 What
					p Are you tired of looking for roommates on the Housing page? We are too. Join a community instead! If you're really curious and passionate about things, come join our housing search. We're trying to create a living environment that is creative, motivating, and thought-provoking. If that sounds like what you're looking for, let us know. Whether you're an engineer, philosopher, artist, or scientist... a sophomore tired of the Units or a senior wanting to try something new... whether you're from the Bay or the other side of the world... we're open to all. The only criterion is that you must love knowledge for knowledge's sake.
				div.unit.one-of-four.left
					
				div.unit.three-of-four
					h2 Join
					p If you want to live with a group of people who are curious and passionate, let's look for a place together! Email us your answers for these below, and we'll forward you more information.
					ul
						li: a(href="mailto:xhouseberk@gmail.com") xhouseberk@gmail.com
						li What do you consider yourself (sort of) an expert at?
						li Do you need a place for the semester or the school year?
						li What do you like to read?
						li What three words would you use to describe yourself?
						li Are you okay with roommates or would you prefer a single room?



			div.unit.one-of-five.rightbar
				


